VITE_API_BASE_URL=http://localhost:8100/api
VITE_SITE_URL=http://localhost:5173
VITE_FUNNEL_URL=https://scarlettcordova-quemagrasa-cons-musc.netlify.app
VITE_INSTAGRAM_URL=https://www.instagram.com/
VITE_PRESALE_DEADLINE=2026-07-06T23:59:59-05:00
VITE_LAUNCH_DEADLINE=2026-07-06T00:00:00-05:00
VITE_WHATSAPP_NUMBER=593999999999
VITE_ANNUAL_PRICE=297
VITE_MONTHLY_PRICE=47
VITE_ADMIN_WHATSAPP=593992019807
